.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 850px) {
  .column {
    width: 100%;
  }

  .tolbar {
    display: none;
  }
}

.add {
  text-align: right;
}

.btn-circle {
  border-radius: 100px;
}

.notepad {
  width: 100%;
  height: 70px;
  background-color: #A5D6A7;
  font-family: 'Special Elite', cursive;
  font-size: medium;
}
