<mat-toolbar class="tolbar" color="primary">
  <h1><b>{{serie?.Title}}</b></h1>
  <span class="fill-remaining-space"></span>
  <button mat-button (click)="saveSerieChanges()">X</button>
</mat-toolbar><br>

<div class="col">
  <div class="row">
    <div class="column">
      <div align="center">
        <img src="{{serie?.Poster}}">
      </div>
    </div>
    <div class="column">
      <div>
        <p>
          <mat-slide-toggle  ngDefaultControl
                             (change)="onEditToogle($event)">Edit</mat-slide-toggle>
        </p>
          <b>WherEp: </b> {{wherEp}}
          <div *ngIf="checked">
              <mat-form-field>
                <mat-select placeholder="Temporada">
                  <mat-option (onSelectionChange)="setTemp($event)"
                  *ngFor="let temp of getTemp()"
                              [value]="temp">{{ temp }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Episodio">
                  <mat-option (onSelectionChange)="setEp($event)" *ngFor="let ep of eps"
                              [value]="ep">{{ ep }}</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        <p>
          <b>Total Seasons: </b> {{serie?.totalSeasons}}
        </p>
        <p>
          <b>Imdb Rate: </b> {{serie?.imdbRating}}
        </p>
        <div *ngIf="serie.Grade">
          <b>You Rate: </b>{{serie.Grade}}
        </div>
        <div *ngIf="checked">
          <div *ngIf="serie.Grade === null">
            What's your rate for this serie?
          </div>
          <mat-form-field>
            <mat-select class="mat-typography" placeholder="Nota">
              <mat-option (onSelectionChange)="setGrade($event)" *ngFor="let g of grades"
                          [value]="g">{{ g }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="!checked && serie.Comment">
          <p>
            <b>Your Notes: </b> {{serie.Comment}}
          </p>
        </div>
        <div *ngIf="checked">
          <b>Edit your notes for {{serie.Title}}:</b><br>
          <textarea id="notepad" class="notepad">{{serie.Comment}}</textarea>
        </div><br><br>
        <div class="add">
          <button mat-raised-button color="primary" (click)="showDetails()" class="btn-circle">Series Details</button>
          <button mat-raised-button color="warn" (click)="removeSerie(); dialogRef.close()" class="btn-circle">Remove</button>
        </div><br>
      </div>
    </div>
  </div>
</div>
