.my-form {
  width: 100%;
}

.main-div{
  height: 100vh;
  display: flow;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchCard {
  width: 50%;
}

.example-card {
  width: 240px;
}

.example-header-image {
  background-size: cover;
}

.example-card:hover {
  width: 500px;
  height: 420px;
}


