<div class="main-div">
  <br><div class="home">
    <mat-card class="searchCard">
      <form (submit)="searchSeries($event)">
        <mat-form-field class="my-form">
          <input matInput placeholder="Search">
        </mat-form-field>
      </form>
    </mat-card>
  </div><br>
  <mat-grid-list cols="4" rowHeight="1:1.5">
    <mat-grid-tile *ngFor="let serie of series">
      <mat-card (click)="openSerie(serie.imdbID)" class="example-card">
        <mat-card-header>
          <mat-card-title>{{serie.Title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{serie.Poster}}" width="240" height="340">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>



