<br><br>
<div *ngIf="mySeries.length === 0" class="home" (click)="moveToSearch()">
  <img src="../../../assets/images/sad-cloud.png" width="20%">
  <br><h2 style="color: black">You have no Series, click here to add</h2>
</div>

<div ><br>
  <div class="row">
    <div class="column" *ngFor="let serie of mySeries">
      <mat-card (click)="openSerie(serie)" class="example-card">
        <mat-card-header>
          <mat-card-title>{{serie.Title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{serie.Poster}}" width="240" height="340">
      </mat-card>
    </div>
  </div>
</div>
<br><br><br><br>
<br><br><br><br>


