<mat-toolbar color="primary">

  <div>
    <button mat-button routerLink="/">
      <img src="../../assets/icons/camera.svg" width="20%">
      Where<b>EP</b></button>
  </div>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/products">Products</button>
    <button mat-button routerLink="/dashboard">Dashboard</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    Menu
  </button>

</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/products">Products</button>
  <button mat-menu-item routerLink="/dashboard">Dashboard</button>
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>

