<div class="main-div">
  <mat-card>
    <div class="title">
      <h1>Wher<b>EP</b></h1>
    </div>
    <form class="my-form" (submit)="login($event)">
      <mat-form-field class="full-width">
        <input matInput placeholder="Login" required autofocus>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" required>
      </mat-form-field>
      <div class="btn">
        <button mat-raised-button color="primary" type="submit">Login</button><br><br>
        <button mat-button color="accent">Create Account</button>
      </div>
    </form>
  </mat-card>
</div>
